@import "bundle";
@import "highlight.js/styles/github";

$monospace: Menlo, Monaco, Consolas, "Courier New", Osaka,Meiryo, monospace;

code {
  font-family: $monospace;
}

h2.page-header span:first-child {
  text-transform: capitalize;
}

.hljs {
  background: transparent;
}
