doctype html
html(lang=site.lang)
  head
    meta(charset='utf-8')
    title=`Calendar - ${site.name}`
    meta(name='viewport', content='width=device-width')
    meta(name='author', content=site.author)
    script(src='/js/commons.js', defer)
    script(src='/js/calendar.js', defer)
    style
      include ../styles/calendar.css
    include ./includes/icons.pug
  body
    include ../src/icomoon/symbol-defs.svg
    div.container
      header.page-header
        h1=`Calendar - ${site.name}`
        p 休講情報をiCalendar形式で配信しています。
      include ./includes/main.pug
      include ./includes/footer.pug
