doctype html
html(lang=site.lang)
  head
    meta(charset='utf-8')
    title=`Login - ${site.name}`
    meta(name='viewport', content='width=device-width')
    meta(name='author', content=site.author)
    style
      include ../styles/bundle.css
    include ./includes/icons.pug
  body.container
    h1.page-header=`Login - ${site.name}`
    form(action='/admin/login', method='post')
      p.form-group
        label(for='user-name') Name
        input#user-name.form-control.input-lg(type='text', required, name='name', autocomplete='off')
      p.form-group
        label(for='user-password') Password
        input#user-password.form-control.input-lg(type='password', required, name='password', autocomplete='off')
      p
        button.btn.btn-default.btn-lg(type='submit') Login
    include ./includes/footer.pug
