doctype html
html(lang=site.lang)
  head
    meta(charset='utf-8')
    title=`Status - ${site.name}`
    meta(name='viewport', content='width=device-width')
    meta(name='author', content=site.author)
    script(src='/js/commons.js', defer)
    script(src='/js/status.js', defer)
    style
      include ../styles/bundle.css
    include ./includes/icons.pug
  body
    div.container
      header.page-header
        h1=`Status - ${site.name}`
      include ./includes/main.pug
      include ./includes/footer.pug
