main#content
  noscript
    div.alert.alert-danger
      h2=site.name + 'はJavaScriptを使用しています。'
      p お使いのブラウザのJavaScriptを有効にしてご利用ください。
  div.alert.alert-info(role='alert')
    p.lead Now loading...
