{
  "ecmaFeatures": {
    "arrowFunctions": false,
    "blockBindings": false,
    "classes": false,
    "objectLiteralShorthandMethods": false,
    "objectLiteralShorthandProperties": false,
    "spread": false
  },
  "env": {
    "browser": true,
    "node": false,
    "commonjs": true
  },
  "rules": {
    "strict": 0,

    "no-var": 0,
    "object-shorthand": 0,
    "prefer-arrow-callback": 0,
  }
}
